@{

    ViewData["Title"] = "Dieta Application";
}

<a casp-area="" class="btn btn-success"  asp-controller="Product" asp-action="NavigationOfProducts">Produkty</a>
@*<a casp-area="" class="btn btn-success" asp-controller="Dish" asp-action="ListOfProducts">Dania</a>*@
<a casp-area="" class="btn btn-success" asp-controller="Dish" asp-action="NavigationOfDishes">Dania</a>
<a casp-area="" class="btn btn-success"  asp-controller="Meal" asp-action="NavigationOfMeals">Posiłki</a>
<a casp-area=""  class="btn btn-success" asp-controller="Day" asp-action="NavigationOfDays">Dni dietetyczne</a>
<a casp-area="" class="btn btn-success"  asp-controller="ShoppingList" asp-action="NavigationOfShoppingList">Listy zakupów</a>

