@model ShoppingListViewModel


@{
    var i = 1;
    ViewData["Title"] = "Dni wchodzące w skład listy zakupowej";
}
<a casp-area="" class="btn btn-secondary" asp-controller="ShoppingList" asp-action="NavigationOfShoppingList"> <- Powrót do list zakupowych </a>
<br />
<br />
<p class="lead"> Nazwa Listy zakupów: <strong>@Model.Name</strong></p>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Nazwa
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var shoppingList in Model.DaysInShoppingList.OrderBy(i=>i.Day.Name))
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@shoppingList.Day.Name</td>
                <td>
                    <a casp-area="" class="btn btn-primary" asp-controller="Day" asp-action="ListOfMealsinDay" asp-route-dayId="@shoppingList.DayId">Szczegóły</a>

                </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
