<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/286a4461-4c9e-41bc-b14e-6303454bc0cb/resourceGroups/DietaAppliaction21/providers/Microsoft.Web/sites/DietaApplication21</ResourceId>
    <ResourceGroup>DietaAppliaction21</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://dietaapplication21.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>dietaapplication21.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DietaApplication21</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DietaApplication21</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>